<h4>Registre-se e mostre seu pet ao mundo!</h4>
<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="name@example.com"
      formControlName="email"
    />
    <label for="floatingInput">E-mail</label>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.required &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="Email obrigatório"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('email')?.errors?.email"
      mensagem="E-mail no formato incorreto"
    ></app-mensagem>
  </div>
  <div class="form-floating mb-3">
    <input
      class="form-control"
      id="floatingPassword"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
    <label for="floatingPassword">Nome</label>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome Obrigatório"
    ></app-mensagem>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingPassword"
      placeholder="Digite seu usuário"
      formControlName="userName"
    />
    <label for="floatingPassword">Usuário</label>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.minusculo &&
        novoUsuarioForm.get('userName')?.touched
      "
      mensagem="Usuário deve ser letra minúscula"
    ></app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.usuarioExistente"
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Sua senha"
      formControlName="password"
    />
    <label for="floatingPassword">Senha</label>
    <app-mensagem
      *ngIf="novoUsuarioForm?.errors?.senhaIgualUsuario"
      mensagem="Senha deve ser diferente do usuário"
    ></app-mensagem>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <button class="btn btn-primary">Cadastrar</button>

    <p class="mt-2">
      Já é um usuário?
      <a [routerLink]="['']" class="text-decoration-none">Faça login!</a>
    </p>
  </div>
</form>
