<h4 class="text-lg-start">Login</h4>

<form class="form w-50" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="d-flex flex-column">
    <div class="input-group mb-3">
      <input
        type="text"
        name="usuario"
        class="form-control w-100"
        placeholder="Nome do Usuário"
        [(ngModel)]="usuario"
        #campoUsuario="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoUsuario.invalid && campoUsuario.touched"
        mensagem="Usuário obrigatório"
      ></app-mensagem>
    </div>

    <div class="input-group mb-3">
      <input
        type="text"
        name="senha"
        class="form-control w-100"
        placeholder="Senha do Usuário"
        [(ngModel)]="senha"
        #campoSenha="ngModel"
        required
      />
      <app-mensagem
        *ngIf="campoSenha.invalid && campoSenha.touched"
        mensagem="Senha obrigatória"
      ></app-mensagem>
    </div>

    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </div>
</form>
